{% extends 'base.html' %}



{% block content %}

<ul class="products-container">
{% for prod in products %}
    <li class="product">
        <div class="product-title">{{ prod.title }}</div>
        {% if prod.slug and prod.image %}
            <a href="{% url 'product_detail' slug=prod.slug %}">
                <img src="{{ prod.image.url }}" alt="{{ prod.title }}">
            </a>
        {% elif prod.image %}
            <img src="{{ prod.image.url }}" alt="{{ prod.title }}">
        {% endif %}
        <div class="product-text">{{ prod.text }}</div>
    </li>
{% endfor %}
</ul>


{% endblock %}